*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

h1{
    position: relative;
    background: -webkit-radial-gradient(#102ffb,#e3daf0, #eec9f2);
    text-align: center;
    background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Georgia, serif;
    text-transform: uppercase;
    font-size: 175%;
}

.row{
    top: 30px;
    width: 100%;
}
  
body{
    background: #f4f3f6;
    font: Georgia, serif, 19px;
}

.container{
    position: relative;
    top:10px;
    margin: 15px; 
    flex-wrap: wrap;
}

div .item_title {
    position: relative;
    top: -25px;
    right: -25px;
    float: right;
    display: flex;
    max-width: 200px;
}

.item{
    top: 0;
    background-color:#f9f2f2;
    margin: 15px;
    padding: 25px;
    border: 3px solid #e18787;
    flex: 1 0 33.33%;
}
#div1_BL{
    position: absolute;
    left: 0px;
    width: 33%;
}
#div2{
    position: absolute;
    left: 33%;
    width: 33%;
}
  
#div3{
    position: relative;
    left: 66%;
    width: 33%;
}
  
  
.item_title{
    position: relative;
    top: 0px;
    right:0px;
    border: 1px solid black;
    font: 18px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}

#title_1{
    color: #45c2ec;
    background: #102ffb;
    flex: 1;
}

#title_2{
    color: #fae1d6;
    background: #0c3420;
    flex: 1;
}

#title_3{
    color: #8f159d;
    background: #c9cdf6;
    flex: 1;
}

/*MEDIA QUERIES FOR DESKTOP, TABLET AND MOBILE VIEW*/
@media (max-width: 991px) {
    .box{
        flex-basis: 100%;
    }
    div#container{
        position: relative;
    }
    #div1_BL{
        left: 0px;
        width: 50%;
    }
    #div2{
        left: 50%;
        width: 50%;
    }
      
    #div3{
        top: 300px;
        left: 0%;
        width: 100%;
    }
}
@media (max-width: 767px) {

    div#container{
        position: relative;
    }
    #div1_BL{
        position: relative;
        left: 0px;
        width: 100%;
    }
    #div2{
        position: relative;
        left: 0px;
        width: 100%;
    }
      
    #div3{
        position: relative;
        left: 0%;
        width: 100%;
        top: 0px;
    }
}